<div class="container py-4">
  <img
    src="../../assets/img/cover-edukasi.jpg"
    class="img-fluid"
    alt="Cover Edukasi"
    height="300"
  />
</div>
<div class="container py-1">
  <div class="row">
    <div class="col-4">
      <div
        class="card"
        style="width: 18rem; margin-top: -80px; margin-left: 35px"
      >
        <div
          class="card-body"
          style="background-color: #06a5b4; color: white; text-align: center"
        >
          <b> INFO BCA SYARIAH </b>
        </div>
        <div
          class="card-body"
          style="background-color: #1481c2; color: white; padding-left: 30px"
        >
          <ul style="list-style-type: none">
            <li>
              <a routerLink="/home" style="text-decoration: none; color: white"
                >Berita BCA Syariah</a
              >
            </li>
            <li>
              <a routerLink="/home" style="text-decoration: none; color: white"
                >Siaran Pers</a
              >
            </li>
            <li>
              <a routerLink="/home" style="text-decoration: none; color: white"
                >Promo</a
              >
            </li>
            <li>
              <a routerLink="/home" style="text-decoration: none; color: white"
                >eBrochure</a
              >
            </li>
            <li>
              <i class="bi bi-align-bottom"></i>
              <a
                routerLink="/education"
                style="text-decoration: none; color: white"
                >Edukasi</a
              >
            </li>
            <li>
              <a routerLink="/home" style="text-decoration: none; color: white"
                >FAQ</a
              >
            </li>
            <li>
              <a routerLink="/home" style="text-decoration: none; color: white"
                >Corporate Logo</a
              >
            </li>
            <li>
              <a routerLink="/home" style="text-decoration: none; color: white"
                >Infografik</a
              >
            </li>
            <li>
              <a routerLink="/home" style="text-decoration: none; color: white"
                >Layanan Pengaduan Konsumen</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-8">
      <!-- little text with link -->
      <p style="color: #bcbcbc">Homepage / Info BCA Syariah / Edukasi</p>
      <hr />
      <h3><b>Edukasi dan Literasi Keuangan Syariah</b></h3>
      <p style="color: #5b5b5b; text-align: justify; line-height: 1.8">
        Dalam rangka meningkatkan pengetahuan masyarakat mengenai layanan
        perbankan syariah, BCA Syariah senantiasa berupaya memberikan informasi
        yang penting diketahui nasabah maupun masyarakat umum dengan tampilan
        dan isi yang menarik serta mudah dipahami
      </p>
      <div class="row">
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-bottom: 25px">
            <img
              src="../../assets/img/x1.jpg"
              class="card-img-top img-fluid"
              alt="..."
            />
            <div class="card-body">
              <small>21 Mei 2021</small>
              <h5 class="card-title my-3">Tips Siap Berangkat Haji</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-bottom: 25px">
            <img src="../../assets/img/x2.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <small>05 Maret 2021</small>
              <h5 class="card-title my-3">Kenapa harus ganti Kartu</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-bottom: 25px">
            <img src="../../assets/img/x3.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <small>20 Oktober 2020</small>
              <h5 class="card-title my-3">Bank Syariah Pilihanku</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-bottom: 25px">
            <img src="../../assets/img/x4.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <small>27 Desember 2018</small>
              <h5 class="card-title my-3">Manfaat Kartu GPN</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-bottom: 25px">
            <img src="../../assets/img/x5.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <small>31 Agustus 2018</small>
              <h5 class="card-title my-3">Tips Bertransaksi Aman</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-bottom: 25px">
            <img src="../../assets/img/x6.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <small>26 Februari 2018</small>
              <h5 class="card-title my-3">Ayo Kenali GPN</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-bottom: 25px">
            <img src="../../assets/img/x7.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <small>31 Oktober 2017</small>
              <h5 class="card-title my-3">Hindari Penggesekan Ganda</h5>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card" style="width: 18rem; margin-bottom: 25px">
            <img src="../../assets/img/x8.jpg" class="card-img-top" alt="..." />
            <div class="card-body">
              <small>30 April 011</small>
              <h5 class="card-title my-3">Prinsip Dasar Operasional</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br />

<div class="container">
  <hr />
  <div class="row">
    <div class="col-5">
      <h4>Kantor Pusat PT Bank BCA Syariah</h4>
      <p style="text-align: justify">Jl. Jatinegara Timur No. 72<br /></p>
    </div>
    <div class="col-7">
      <a href="https://www.bcasyariah.co.id" target="_blank">
        <img
          src="https://www.bcasyariah.co.id/cfind/source/thumb/images/material/cover_w115_h70_ayo-ke-bank.png"
          alt="logo 1"
        />
      </a>
      <a href="https://www.bcasyariah.co.id" target="_blank">
        <img
          src="https://www.bcasyariah.co.id/cfind/source/thumb/images/cover_w_h70_islamic-banking-ib-anto-erawan.original.jpg"
          alt=""
        />
      </a>
      <a href="https://www.bcasyariah.co.id" target="_blank">
        <img
          src="https://www.bcasyariah.co.id/cfind/source/thumb/images/material/cover_w115_h70_ojk-logo.png"
          alt="logo 3"
        />
      </a>
      <a href="https://www.bcasyariah.co.id" target="_blank">
        <img
          src="https://www.bcasyariah.co.id/cfind/source/thumb/images/cover_w_h70_logo_baru_color_jpeg_lps.png"
          alt=""
        />
      </a>
      <a href="https://www.bcasyariah.co.id" target="_blank">
        <img
          src="https://www.bcasyariah.co.id/cfind/source/thumb/images/logo-partner/cover_w_h70_eksyar---logo-horizontal-2-baris-01.png"
          alt=""
        />
      </a>
    </div>
    <hr />
  </div>
</div>
