<div class="container">
  <header>
    <!-- Background image -->
    <div
      class="p-5 text-center bg-image"
      style="
        background-image: url('https://www.bcasyariah.co.id/cfind/source/thumb/images/tentang-bca-syariah/cover_w1640_h700_fm-gedung-1640x700.jpg');
        height: 400px;
      "
    >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white"></div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>

  <div
    class="card bg-info bg-primary vh-100 d-flex mx-5 col-md-6"
    style="width: 18rem"
  >
    <div class="card-body bg-info">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <h1>Informasi Umum</h1>
    <p>
      PT. Bank BCA Syariah ("BCA Syariah") berdiri dan mulai melaksanakan
      kegiatan usaha dengan prinsip-prinsip syariah setelah memperoleh izin
      operasi syariah dari Bank Indonesia berdasarkan Keputusan Gubernur BI No.
      12/13/KEP.GBI/DpG/2010 tanggal 2 Maret 2009 dan kemudian resmi beroperasi
      sebagai bank syariah pada hari Senin tanggal 5 April 2010. BCA Syariah
      mencanangkan untuk menjadi pelopor dalam industri perbankan syariah
      Indonesia sebagai bank yang unggul di bidang penyelesaian pembayaran,
      penghimpun dana dan pembiayaan bagi nasabah bisnis dan perseorangan.
      Masyarakat yang menginginkan produk dan jasa perbankan yang berkualitas
      serta ditunjang oleh kemudahan akses dan kecepatan transaksi merupakan
      target dari BCA Syariah. Komitmen penuh BCA sebagai perusahaan induk dan
      pemegang saham mayoritas terwujud dari berbagai layanan yang bisa
      dimanfaatkan oleh nasabah BCA Syariah pada jaringan cabang BCA yaitu
      setoran (pengiriman uang) hingga tarik tunai dan debit di seluruh ATM dan
      mesin EDC (Electronic Data Capture) milik BCA, semua tanpa dikenakan
      biaya. Selanjutnya, untuk mendapatkan informasi maupun menyampaikan
      pengaduan dan keluhan, masyarakat dan nasabah khususnya dapat menghubungi
      Halo BCA di 1500888. Jaringan cabang BCA Syariah tersebar di wilayah DKI
      Jakarta, Tangerang, Bogor, Depok, Bekasi, Surabaya, Semarang, Bandung,
      Solo, Yogyakarta, Medan, Palembang, Malang, Lampung, Banda Aceh, Kediri,
      Pasuruan, dan Panakkukang.
    </p>

    <table class="table">
      <thead class="bg-primary">
        <tr>
          <td>Nama</td>
          <td>PT Bank BCA Syariah</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nama Inisial</td>
          <td>BCAS</td>
        </tr>
        <tr>
          <td>Bidang Usaha</td>
          <td>Bank Umum Syariah</td>
        </tr>
        <tr>
          <td>Kepemilikan Saham</td>
          <td>PT Bank Central Asia Tbk 99,99995% PT BCA Finance 0,00005%</td>
        </tr>
        <tr>
          <td>Izin Beroperasi</td>
          <td>
            Salinan Keputusan Gubernur Bank Indonesia No. 12/13/KEP.GBI/DpG/2010
            tanggal 2 Maret 2010
          </td>
        </tr>
        <tr>
          <td>Anggaran Dasar</td>
          <td>
            Akta Pernyataan Keputusan di Luar Rapat PT Bank UIB nomor 49 tanggal
            16 Desember 2009 yang dibuat di hadapan Notaris Pudji Rezeki
            Irawati, S.H., Notaris di Jakarta, dan telah mendapatkan persetujuan
            dari Menteri Hukum dan Hak Asasi Manusia Republik Indonesia dalam
            Surat Keputusannya No. AHU-01929. AH.01.02 tanggal 14 Januari 2010
            tentang Persetujuan Akta Perubahan Anggaran Dasar Perseroan, dan
            telah diumumkan dalam Berita Negara Republik Indonesia pada Tambahan
            Berita Negara Republik Indonesia Nomor 23 tanggal 20 Maret 2012
          </td>
        </tr>

        <tr>
          <td>Modal Dasar</td>
          <td>Rp5.000.000.000.000</td>
        </tr>
        <tr>
          <td>Modal Ditempatkan dan Disetorkan Penuh</td>
          <td>Rp2.255.182.137.000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="wrapper">
  <div class="footer-address col-lg-6 col-md-8 col-xs-12">
    <h4>Kantor Pusat PT Bank BCA Syariah</h4>
    <p style="text-align: justify">
      Jl. Jatinegara Timur No. 72<br />
      Jakarta Timur 13310
    </p>
  </div>
  <div class="footer-partners col-lg-6 col-md-8 col-xs-12">
    <div class="d-flex"></div>
    <ul>
      <li>
        <a href="https://www.bcasyariah.co.id" target="_blank">
          <img
            src="https://www.bcasyariah.co.id/cfind/source/thumb/images/material/cover_w115_h70_ayo-ke-bank.png"
            alt="logo 1"
          />
        </a>
      </li>
      <li>
        <a href="https://www.bcasyariah.co.id" target="_blank">
          <img
            src="https://www.bcasyariah.co.id/cfind/source/thumb/images/cover_w_h70_islamic-banking-ib-anto-erawan.original.jpg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="https://www.bcasyariah.co.id" target="_blank">
          <img
            src="https://www.bcasyariah.co.id/cfind/source/thumb/images/material/cover_w115_h70_ojk-logo.png"
            alt="logo 3"
          />
        </a>
      </li>
      <li>
        <a href="https://www.bcasyariah.co.id" target="_blank">
          <img
            src="https://www.bcasyariah.co.id/cfind/source/thumb/images/cover_w_h70_logo_baru_color_jpeg_lps.png"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="https://www.bcasyariah.co.id" target="_blank">
          <img
            src="https://www.bcasyariah.co.id/cfind/source/thumb/images/logo-partner/cover_w_h70_eksyar---logo-horizontal-2-baris-01.png"
            alt=""
          />
        </a>
      </li>
    </ul>
    <span>©2022 PT Bank BCA Syariah</span>
  </div>
</div>
<router-outlet></router-outlet>
