<div class="container my-5">
  <img src="../../assets/img/cover.jpg" alt="" width="100%" />
</div>

<div class="container">
  <div class="row justify-content-end">
    <div class="col-lg-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Homepage</a></li>
          <li class="breadcrumb-item"><a href="#">Tentang BCA Syariah</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Tanggung Jawab Sosial Perusahaan
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-lg-8">
      <h1>BCA Syariah Peduli</h1>
      <p class="lead">
        BCA Syariah berupaya untuk menciptakan hubungan yang harmonis antara
        people, profit, planet untuk mencapai keberlangsungan usaha dalam jangka
        panjang. Komitmen BCA Syariah salah satunya diwujudkan dalam bentuk
        kegiatan Tanggung Jawab Sosial Perusahaan (Corporate Social
        Responsibility/CSR).
      </p>
      <img width="100%" src="../../assets/img/content10.jpg" alt="" />
      <p>
        BCA Syariah memahami bahwa kinerja finansial (profit) yang berkualitas
        bukan satu-satunya tolak ukur keberhasilan suatu Bank. Kinerja Bank juga
        erat kaitannya dengan produktivitas karyawan, pemenuhan kebutuhan
        nasabah dan komunitas di sekitar wilayah operasional Bank (people) serta
        keberlanjutan lingkungan (planet). Oleh karena itu, BCAS berupaya untuk
        menciptakan hubungan yang harmonis antara ketiganya untuk mencapai
        keberlangsungan usaha dalam jangka panjang. Komitmen BCAS salah satunya
        diwujudkan dalam bentuk kegiatan Tanggung Jawab Sosial Perusahaan
        (Corporate Social Responsibility/CSR) dengan tujuan membangun hubungan
        yang harmonis dan kondusif dengan semua stakeholder untuk mendukung
        pencapaian tujuan korporasi dalam membangun reputasi korporasi.
      </p>
      <p>Ruang lingkup Tanggung Jawab Sosial Perusahaan meliputi:</p>
      <ul>
        <li>
          Tanggung Jawab Sosial Perusahaan terkait dengan Hak Asasi Manusia
        </li>
        <li>
          Tanggung Jawab Sosial Perusahaan terkait dengan Operasi yang Adil
        </li>
        <li>
          Tanggung Jawab Sosial Perusahaan terkait dengan Lingkungan Hidup
        </li>
        <li>
          Tanggung Jawab Sosial Perusahaan terkait dengan Ketenagakerjaan,
          Kesehatan dan Keselamatan Kerja
        </li>
        <li>
          Tanggung Jawab Sosial Perusahaan terkait dengan Pengembangan Sosial
          dan Kemasyarakatan
        </li>
      </ul>
    </div>
  </div>
  <div class="row"></div>
</div>
