<!DOCTYPE html>
<html lang="id"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

                    
<title>KKB iB BCA Syariah</title>
<meta name="title" content="KKB iB BCA Syariah">
<meta name="description" content="BCA Syariah berkomitmen untuk melayani Anda dengan lebih baik melalui ragam produk dan fasilitas perbankan syariah yang terbaik dan andal">
<meta name="keywords" content="">
<meta name="url" content="https://www.bcasyariah.co.id/kkb-ib-bcas">
<meta name="image" content="https://www.bcasyariah.co.id/cfind/source/images/logo-bcas-full-color.png">
<meta name="fb::app_id" content="">
<meta name="article:author" content="">

<meta property="og:type" content="website">
<meta property="og:title" content="KKB iB BCA Syariah">
<meta property="og:description" content="BCA Syariah berkomitmen untuk melayani Anda dengan lebih baik melalui ragam produk dan fasilitas perbankan syariah yang terbaik dan andal">
<meta property="og:url" content="https://www.bcasyariah.co.id/kkb-ib-bcas">
<meta property="og:image:secure" content="https://www.bcasyariah.co.id/cfind/source/images/logo-bcas-full-color.png">
<meta property="og:author" content="">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="KKB iB BCA Syariah">
<meta name="twitter:description" content="BCA Syariah berkomitmen untuk melayani Anda dengan lebih baik melalui ragam produk dan fasilitas perbankan syariah yang terbaik dan andal">
<meta name="twitter:twitter-id" content="">
<meta name="twitter:image" content="https://www.bcasyariah.co.id/cfind/source/images/logo-bcas-full-color.png">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript" async="" src="KKB%20iB%20BCA%20Syariah_files/analytics.js"></script><script async="" src="KKB%20iB%20BCA%20Syariah_files/js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-189829353-1');
</script>
<script type="application/ld+json"> 
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "BCA Syariah",
  "url": "https://www.bcasyariah.co.id/"
}
 </script>

<link rel="icon" type="image/png" href="https://www.bcasyariah.co.id/cfind/thumbs/images/logo-partner/thumb_32_32_contain_cengkeh-only-01.png" sizes="32x32">
<link rel="canonical" href="https://www.bcasyariah.co.id/kkb-ib-bcas">

			<link rel="canonical" href="https://www.bcasyariah.co.id/kkb-ib-bcas">
        
        <link rel="stylesheet" href="KKB%20iB%20BCA%20Syariah_files/styles.css">

        <script type="text/javascript" src="KKB%20iB%20BCA%20Syariah_files/main.js"></script>
    </head>
    <body>

    

<!-- header -->
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="https://www.bcasyariah.co.id/">
                <img src="KKB%20iB%20BCA%20Syariah_files/cover_w268_h60_logo.png" alt="">
            </a>
        </div>
        <div class="menu-action-mobile">
                        <div class="menu-bar">
                <img src="KKB%20iB%20BCA%20Syariah_files/icon-menu-bar.png">
            </div>
            <div class="hallo-bca-f">
                <div>
                    <img src="KKB%20iB%20BCA%20Syariah_files/cs.png">
                    <span>Halo BCA</span>
                    <span>1500888</span>
                </div>
            </div>
                    </div>
        <div class="menu">
                        <ul>
                                                        <li class="dropdown active">
                        <span>Produk dan Layanan</span>
                        <ul>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/tahapan-ib-bcas">Simpanan</a></li>
                                                        <li><a class="active" href="https://www.bcasyariah.co.id/kkb-ib-bcas">Pembiayaan</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/bca-syariah-mobile">Perbankan Elektronik</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/setoran-biaya-penyelenggaraan-ibadah-haji">Jasa Perbankan</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/biaya-dan-limit">Biaya dan Limit</a></li>
                                                    </ul>
                    </li>
                                                                            <li class="dropdown ">
                        <span>Info BCA Syariah</span>
                        <ul>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/berita-bca-syariah">Berita BCA Syariah</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/siaran-pers">Siaran Pers</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/promo">Promo</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/ebrochure">eBrochure</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/edukasi">Edukasi</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/faq">FAQ</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/corporate-logo">Corporate Logo</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/infografik">Infografik</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/alur-layanan-pengaduan-konsumen">Layanan Pengaduan Konsumen</a></li>
                                                    </ul>
                    </li>
                                                                            <li class="dropdown ">
                        <span>Tentang BCA Syariah</span>
                        <ul>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/informasi-umum">Profil Perusahaan</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/struktur-organisasi">Struktur Organisasi</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/tanggung-jawab-sosial-perusahaan">Tanggung Jawab Sosial Perusahaan</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/penghargaan">Penghargaan</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/informasi-tata-kelola-perusahaan">GCG</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/laporan-tahunan">Laporan Perusahaan</a></li>
                                                    </ul>
                    </li>
                                                                            <li class="dropdown ">
                        <span>Karir</span>
                        <ul>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/experienced-program">Experienced Programs</a></li>
                                                        <li><a class="" href="https://www.bcasyariah.co.id/apprentice-programs">Apprentice Programs</a></li>
                                                    </ul>
                    </li>
                                                    <li class="search">
                    <img src="KKB%20iB%20BCA%20Syariah_files/search.png">
                    <div class="search-box" style="margin-top: 20px; opacity: 0; display: none;">
                        <form method="GET" action="https://www.bcasyariah.co.id/search" accept-charset="UTF-8">
                            <input class="input-focus" type="text" name="q" placeholder="Search here..">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </li>
                <li class="hallo-bca">
                    <div>
                        <img src="KKB%20iB%20BCA%20Syariah_files/cs.png">
                        <span>Halo BCA</span>
                        <span>1500888</span>
                    </div>
                </li>
            </ul>
                    </div>
    </div>
</header>
<div class="overlay"></div>
<div class="menu-mobile">
    <div class="menu-mobile-top">
        <div class="logo">
            <a href="https://www.bcasyariah.co.id/">
                <img src="KKB%20iB%20BCA%20Syariah_files/cover_w268_h60_logo.png" alt="">
            </a>
        </div>
        <div class="hallo-bca-f">
            <div>
                <img src="KKB%20iB%20BCA%20Syariah_files/cs.png">
                <span>Halo BCA</span>
                <span>1500888</span>
            </div>
        </div>
        <img src="KKB%20iB%20BCA%20Syariah_files/icon-close.png" class="close">
    </div>
    <ul class="menum">
                                <li class="dropdown active">
                <span>Produk dan Layanan</span>
                <ul>
                                        <li><a class="" href="https://www.bcasyariah.co.id/tahapan-ib-bcas">Simpanan</a></li>
                                        <li><a class="active" href="https://www.bcasyariah.co.id/kkb-ib-bcas">Pembiayaan</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/bca-syariah-mobile">Perbankan Elektronik</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/setoran-biaya-penyelenggaraan-ibadah-haji">Jasa Perbankan</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/biaya-dan-limit">Biaya dan Limit</a></li>
                                    </ul>
            </li>
                                            <li class="dropdown ">
                <span>Info BCA Syariah</span>
                <ul>
                                        <li><a class="" href="https://www.bcasyariah.co.id/berita-bca-syariah">Berita BCA Syariah</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/siaran-pers">Siaran Pers</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/promo">Promo</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/ebrochure">eBrochure</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/edukasi">Edukasi</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/faq">FAQ</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/corporate-logo">Corporate Logo</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/infografik">Infografik</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/alur-layanan-pengaduan-konsumen">Layanan Pengaduan Konsumen</a></li>
                                    </ul>
            </li>
                                            <li class="dropdown ">
                <span>Tentang BCA Syariah</span>
                <ul>
                                        <li><a class="" href="https://www.bcasyariah.co.id/informasi-umum">Profil Perusahaan</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/struktur-organisasi">Struktur Organisasi</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/tanggung-jawab-sosial-perusahaan">Tanggung Jawab Sosial Perusahaan</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/penghargaan">Penghargaan</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/informasi-tata-kelola-perusahaan">GCG</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/laporan-tahunan">Laporan Perusahaan</a></li>
                                    </ul>
            </li>
                                            <li class="dropdown ">
                <span>Karir</span>
                <ul>
                                        <li><a class="" href="https://www.bcasyariah.co.id/experienced-program">Experienced Programs</a></li>
                                        <li><a class="" href="https://www.bcasyariah.co.id/apprentice-programs">Apprentice Programs</a></li>
                                    </ul>
            </li>
                            <li class="language-n-search">
            <div class="searchbox">
                <form method="GET" action="https://www.bcasyariah.co.id/search" accept-charset="UTF-8">
                    <input class="input-focus" type="text" name="q" placeholder="Search here..">
                    <input type="submit" value="Search">
                </form>
            </div>
        </li>
    </ul>
</div>
<!-- end of header -->
<div class="fl-menu">
    <ul>
                <li>
            <a href="https://ibank.klikbcasyariah.com/ib/login">
                
                <img src="KKB%20iB%20BCA%20Syariah_files/computer.svg" class="img-active">
                <img src="KKB%20iB%20BCA%20Syariah_files/icon-desktop-white.svg" class="img-hover">
                <span>Klik BCA Syariah</span>
            </a>
        </li>
        
                <li>
            <a href="https://www.bcasyariah.co.id/kkb-ib-bcas">
                
                <img src="KKB%20iB%20BCA%20Syariah_files/calculator.svg" class="img-active">
                <img src="KKB%20iB%20BCA%20Syariah_files/calculator-white.svg" class="img-hover">
                <span>Simulasi</span>
            </a>
        </li>
        
                <li>
            <a href="https://www.bcasyariah.co.id/kontak">
                
                <img src="KKB%20iB%20BCA%20Syariah_files/phone.svg" class="img-active">
                <img src="KKB%20iB%20BCA%20Syariah_files/phone-white.svg" class="img-hover">
                <span>Kontak</span>
            </a>
        </li>
        
                <li>
            <a href="https://www.bcasyariah.co.id/cari-lokasi-cabang">
                
                <img src="KKB%20iB%20BCA%20Syariah_files/pin.svg" class="img-active">
                <img src="KKB%20iB%20BCA%20Syariah_files/pin-white.svg" class="img-hover">
                <span>Lokasi</span>
            </a>
        </li>
        
                <li>
            <div onclick="openPopup('share-popup')">
                <svg xmlns="http://www.w3.org/2000/svg" width="25.783" height="25.791" viewBox="0 0 25.783 25.791">
                    <path id="icon-share" d="M62.779,11.437h1.007a.991.991,0,0,0,.14.044,4.769,4.769,0,0,1,4.016,3.508c.08.253.117.518.174.778v1.007c-.024.113-.05.226-.072.339a4.819,4.819,0,0,1-7.926,2.793.268.268,0,0,0-.35-.05q-3.808,1.965-7.623,3.916c-.137.071-.2.137-.168.306a1.5,1.5,0,0,1,0,.549c-.041.2.027.278.195.361q3.759,1.866,7.508,3.751a.413.413,0,0,0,.539-.067,4.811,4.811,0,0,1,7.71,2.383c.078.272.128.551.19.827v1.007a.852.852,0,0,0-.044.14,4.823,4.823,0,0,1-7.6,3.279A4.563,4.563,0,0,1,58.5,31.924c.019-.187-.089-.226-.208-.285q-3.755-1.871-7.507-3.749a.321.321,0,0,0-.43.064,4.827,4.827,0,0,1-7.875-2.465c-.054-.218-.1-.439-.144-.657V23.825a.993.993,0,0,0,.045-.14,4.834,4.834,0,0,1,8.064-2.9.285.285,0,0,0,.388.046c2.4-1.236,4.792-2.473,7.2-3.69.333-.168.574-.316.425-.733a.474.474,0,0,1-.005-.15,4.842,4.842,0,0,1,3.624-4.669C62.306,11.532,62.543,11.488,62.779,11.437Z" transform="translate(-42.334 -11.437)" fill="#6d6d6d"></path>
                </svg>
                <span>Share</span>
            </div>
        </li>
    </ul>
</div>

<section class="banner">
    <div class="wrapper">
                        <figure>
            <img src="KKB%20iB%20BCA%20Syariah_files/cover_w1640_h700_1640x700_banner_content_kkb.jpg" data-img-large="https://www.bcasyariah.co.id/cfind/source/thumb/images/banner/cover_w1640_h700_1640x700_banner_content_kkb.jpg" data-img-medium="https://www.bcasyariah.co.id/cfind/source/thumb/images/banner/cover_w640_h280_tw1577_th692_x118_y18_1640x700_banner_content_kkb.jpg" data-img-small="https://www.bcasyariah.co.id/cfind/source/thumb/images/banner/cover_w310_h220_tw964_th686_x122_y114_1640x700_banner_content_kkb.jpg" alt="" has_load="large">
        </figure>
        <div class="banner-content">
            <h2>KKB iB</h2>
            <p>Wujudkan impian miliki mobil idaman</p>
        </div>
            </div>
</section>
<section class="main-content">
    <div class="wrapper">
        <div class="side-menu">
    <h3>PRODUK DAN LAYANAN</h3>
    <ul>
                                <li class="dropdown">
                <span>Simpanan</span>
                <ul style="display: none;">
                                                                        <li><a href="https://www.bcasyariah.co.id/tahapan-ib-bcas">Tahapan iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/tahapan-rencana-ib">Tahapan Rencana iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/tahapan-mabrur-ib">Tahapan Mabrur iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/simpanan-pelajar-simpel-ib">Simpanan Pelajar (SimPel) iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/giro-ib">Giro iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/deposito-ib">Deposito iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/rekening-dana-nasabah">Rekening Dana Nasabah</a></li>
                                                            </ul>
            </li>
             
                                <li class="dropdown actived">
                <span>Pembiayaan</span>
                <ul style="display: none;">
                                                                        <li><a class="active" href="https://www.bcasyariah.co.id/kkb-ib-bcas">KKB iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/kpr-ib">KPR iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/umrah-ib">Umrah iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/emas-ib">Emas iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/pembiayaan-rekening-koran-syariah">Pembiayaan Rekening Koran Syariah</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/pembiayaan-modal-kerja-ib">Pembiayaan Modal Kerja iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/pembiayaan-investasi-ib">Pembiayaan Investasi iB</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/bank-garansi">Bank Garansi</a></li>
                                                            </ul>
            </li>
             
                                <li class="dropdown ">
                <span>Perbankan Elektronik</span>
                <ul style="">
                                                                        <li><a href="https://www.bcasyariah.co.id/bca-syariah-mobile">BCA Syariah Mobile</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/klik-bca-syariah-">Klik BCA Syariah</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/atm-bca">ATM BCA</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/jaringan-atm">Jaringan ATM</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/flazz-bca-syariah">Flazz BCA Syariah</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/debit-bca">Debit BCA</a></li>
                                                            </ul>
            </li>
             
                                <li class="dropdown ">
                <span>Jasa Perbankan</span>
                <ul style="">
                                                                        <li><a href="https://www.bcasyariah.co.id/setoran-biaya-penyelenggaraan-ibadah-haji">Setoran Biaya Penyelenggaraan Ibadah Haji (BPIH)</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/kiriman-uang">Kiriman Uang</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/kliring">Kliring</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/safe-deposit-box">Safe Deposit Box</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/layanan-payroll">Layanan Payroll</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/referensi-bank">Referensi Bank</a></li>
                                                                                                <li><a href="https://www.bcasyariah.co.id/inkaso">Inkaso</a></li>
                                                            </ul>
            </li>
             
                                <li><a href="https://www.bcasyariah.co.id/biaya-dan-limit">Biaya dan Limit</a></li>
             
            </ul>
</div>
        <div class="content-bx">
                        
                        
            <div class="breadcrumb">
                <ul>
                    <li><a href="https://www.bcasyariah.co.id/">Homepage</a></li>
                                        <li><a href="https://www.bcasyariah.co.id/tahapan-ib-bcas"><span>Produk dan Layanan</span></a></li>
                                        <li><a href="https://www.bcasyariah.co.id/kkb-ib-bcas"><span>Pembiayaan</span></a></li>
                                        <li><a href="https://www.bcasyariah.co.id/kkb-ib-bcas"><span>KKB iB</span></a></li>
                                                        </ul>
            </div><div class="content-box">
		<h3>KKB iB</h3>
	<h4>Pembiayaan kepemilikan kendaraan dengan angsuran pasti sampai dengan 8 tahun.</h4>
	
		<div class="std-content">
				<p style="text-align:justify">KKB iB BCA Syariah merupakan 
pembiayaan yang diberikan BCA Syariah kepada nasabah berdasarkan prinsip
 Syariah dengan tujuan untuk kepemilikan atau pembelian kendaraan 
bermotor baru atau bekas.&nbsp;</p>

<div class="table"><table cellspacing="1" cellpadding="1">
	<tbody>
		<tr>
			<td style="background-color:#ffffff; text-align:center"><img alt="" src="KKB%20iB%20BCA%20Syariah_files/logo-kategori-kkb-baruu.png" style="height:152px; width:150px"></td>
			<td style="background-color:#ffffff !important; text-align:center"><img alt="" src="KKB%20iB%20BCA%20Syariah_files/logo-kategori-kkb-bekass.png" style="height:152px; width:150px"></td>
		</tr>
		<tr>
			<td style="text-align:center">Fasilitas pembiayaan untuk pembelian 
mobil baru dengan jangka waktu sampai dengan 8 tahun dengan tujuan untuk
 kepemilikan/pembelian kendaraan bermotor baru atau bekas.</td>
			<td style="text-align:center">Fasilitas pembiayaan untuk pembelian mobil bekas (<em>used car</em>) dengan jangka waktu sampai dengan 6 tahun, baik mobil bekas dari <em>showroom</em> maupun dari penjual perorangan.</td>
		</tr>
	</tbody>
</table></div>

<p style="text-align:justify"><span style="color:#0066b3"><span style="font-size:18px"><strong><strong>Fitur dan Benefit </strong></strong></span></span></p>

<p><span style="color:#ff851c"><span style="font-size:16px"><strong>Pembiayaan dengan prinsip syariah</strong></span></span></p>

<ul>
	<li>KKB iB BCA Syariah merupakan fasilitas pembiayaan sesuai dengan prinsip Syariah dengan menggunakan akad Murabahah</li>
</ul>

<p><span style="color:#ff851c; font-size:16px"><strong>Kepastian angsuran</strong></span></p>

<ul>
	<li>Dengan margin yang sudah disepakati diawal, maka besar angsuran 
nasabah perbulan sudah disepakati bersama, dan besarnya angsuran akan 
tetap sama/ pasti &nbsp;sampai dengan jangka waktu pembiayaan berakhir</li>
</ul>

<p><span style="color:#ff851c; font-size:16px"><strong>Angsuran ringan (angsuran berjenjang)</strong></span></p>

<ul>
	<li>Dengan angsuran berjenjang, nasabah membayar angsuran lebih kecil 
di periode awal pembiayaan dan besarnya angsuran &nbsp;akan 
meningkat/bertambah besar setelah periode awal &nbsp;tersebut, sehingga 
dapat menguntungkan dan lebih ringan untuk nasabah&nbsp;</li>
</ul>

<p><span style="color:#ff851c; font-size:16px"><strong>Jangka waktu sampai dengan 8 tahun</strong></span></p>

<ul>
	<li>Nikmati pembiayaan kendaraan bermotor dengan jangka waktu sampai 
dengan &nbsp;8 tahun untuk mobil baru dan 6 tahun untuk mobil bekas 
(used car). Dengan jangka waktu yang cukup panjang, tentunya besarnya 
angsuran relatif lebih kecil dan lebih ringan untuk nasabah.</li>
	<li>Pilihan mobil yang akan dibeli lebih banyak, sesuai dengan dana nasabah yang tersedia</li>
</ul>

<p><span style="color:#ff851c; font-size:16px"><strong>Biaya ringan</strong></span></p>

<ul>
	<li>Pembayaran angsuran pertama dilakukan di bulan berikutnya (in 
arrear), sehingga Total Pembayaran Pertama (TDP) untuk KKB BCA Syariah 
menjadi lebih ringan.&nbsp;</li>
</ul>

<hr>
<p style="text-align:justify"><span style="color:#0066b3; font-size:18px"><strong>Dapat Diajukan Oleh</strong></span></p>

<ul>
	<li style="text-align:justify">Karyawan dengan status karyawan tetap dan masa kerja minimal 2 tahun.</li>
	<li style="text-align:justify">Wiraswasta/ profesional dengan minimal pengalaman 2 tahun.</li>
</ul>

<hr>
<p style="text-align:justify"><span style="color:#0066b3; font-size:18px"><strong>Dokumen yang Diperlukan</strong></span></p>

<ul>
	<li style="text-align:justify">Dokumen pribadi</li>
	<li style="text-align:justify">Dokumen pekerjaan/ usaha</li>
	<li style="text-align:justify">Dokumen legalitas mobil (copy BPKB dan STNK)</li>
	<li style="text-align:justify">Surat pemesanan/ tanda jadi dari <em>dealer </em>(khusus untuk mobil baru)</li>
</ul>

<p style="text-align:center"><a class="btn-orange" href="https://www.bcasyariah.co.id/produk/pembiayaan/simulasi-kkb-bca-syariah"><strong>Simulasi Pembiayaan</strong></a></p>
		
			</div>
		
	<div class="career on-box">
    <div class="career-box">
        <img src="KKB%20iB%20BCA%20Syariah_files/cover_w1640_h390_cover-hubungi-kami-pembiayaan.jpg" data-img-large="https://www.bcasyariah.co.id/cfind/source/thumb/images/cover_w1640_h390_cover-hubungi-kami-pembiayaan.jpg" data-img-medium="https://www.bcasyariah.co.id/cfind/source/thumb/images/cover_w680_h264_tw996_th386_x1486_y14_cover-hubungi-kami-pembiayaan.jpg" data-img-small="https://www.bcasyariah.co.id/cfind/source/thumb/images/cover_w310_h148_tw818_th390_x1650_y10_cover-hubungi-kami-pembiayaan.jpg" alt="" has_load="large">
        <div class="content">
            <h4>Ajukan Pembiayaan</h4>
            <a href="https://www.bcasyariah.co.id/kontak?page=kkb-ib-bcas" class="btn-orange">Hubungi Kami</a>
        </div>
    </div>
</div>
</div>
            
        </div>
    </div>
</section>
<!--Footer -->
<footer>
    <div class="footer-top">
        <div class="wrapper">
            <div class="footer-address">
                <h4>Kantor Pusat PT Bank BCA Syariah</h4>
                <p style="text-align:justify">Jl. Jatinegara Timur No. 72<br>
Jakarta Timur 13310</p>
            </div>
            <div class="footer-partners">
                <ul>
                                        <li>
                        <a href="https://www.bcasyariah.co.id/" target="_blank">
                            <img src="KKB%20iB%20BCA%20Syariah_files/cover_w115_h70_ayo-ke-bank.png" alt="logo 1">
                        </a>
                    </li>
                                        <li>
                        <a href="https://www.bcasyariah.co.id/" target="_blank">
                            <img src="KKB%20iB%20BCA%20Syariah_files/cover_w_h70_islamic-banking-ib-anto-erawan.jpg" alt="">
                        </a>
                    </li>
                                        <li>
                        <a href="https://www.bcasyariah.co.id/" target="_blank">
                            <img src="KKB%20iB%20BCA%20Syariah_files/cover_w115_h70_ojk-logo.png" alt="logo 3">
                        </a>
                    </li>
                                        <li>
                        <a href="https://www.bcasyariah.co.id/" target="_blank">
                            <img src="KKB%20iB%20BCA%20Syariah_files/cover_w_h70_logo_baru_color_jpeg_lps.png" alt="">
                        </a>
                    </li>
                                        <li>
                        <a href="https://www.bcasyariah.co.id/" target="_blank">
                            <img src="KKB%20iB%20BCA%20Syariah_files/cover_w_h70_eksyar---logo-horizontal-2-baris-01.png" alt="">
                        </a>
                    </li>
                                    </ul>
                <span>©2022 PT Bank BCA Syariah</span>
            </div>
        </div>
    </div>
    <div class="footer-botline">
        <div class="wrapper">
            <div class="verified">
                <img src="KKB%20iB%20BCA%20Syariah_files/verified.png"> BCA Syariah terdaftar dan diawasi oleh OJK - BCA Syariah merupakan peserta penjaminan LPS
            </div>
            <ul class="sitemap">
                                <li><a class="" href="https://www.bcasyariah.co.id/biaya-dan-limit">Biaya dan Limit</a></li>
                                <li><a class="" href="https://www.bcasyariah.co.id/kontak">Kontak</a></li>
                                <li><a class="" href="https://www.bcasyariah.co.id/cari-lokasi-cabang">Cari Lokasi Cabang</a></li>
                                <li><a class="" href="https://www.bcasyariah.co.id/registrasi-online">Registrasi Online</a></li>
                            </ul>
        </div>
    </div>
</footer>
<section class="popup light-popup" id="share-popup">
    <div class="popup-award">
        <div class="close" onclick="closePopup('share-popup')"><img src="KKB%20iB%20BCA%20Syariah_files/icon-close.png"></div>
        <div class="box-sharethis-custom">
            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.bcasyariah.co.id%2Fkkb-ib-bcas" target="_blank" "="" style="background-color: #55acee;"><img src="KKB%20iB%20BCA%20Syariah_files/icon-share-twitter.svg" alt=""><span>Twitter</span></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.bcasyariah.co.id%2Fkkb-ib-bcas" target="_blank" "="" style="background-color: #4267B2;"><img src="KKB%20iB%20BCA%20Syariah_files/icon-share-facebook.svg" alt=""><span>Facebook</span></a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.bcasyariah.co.id%2Fkkb-ib-bcas" target="_blank" style="background-color: #0077b5;"><img src="KKB%20iB%20BCA%20Syariah_files/icon-share-linkedin.svg" alt=""><span>Linkedin</span></a>
            <a href="mailto:?body=https%3A%2F%2Fwww.bcasyariah.co.id%2Fkkb-ib-bcas" target="_blank" style="background-color: #7d7d7d;"><img src="KKB%20iB%20BCA%20Syariah_files/icon-share-email.svg" alt=""><span>Email</span></a>
        </div>
    </div>
</section>
<!--end of Footer -->

<style>
    .preview {
        float: right;
        font-weight: bold;
        line-height: 100px;
        margin-right: 100px;
    }
    .fullscreen {
        width: 100% !important;
    }
</style>
<script>
	$(function(){
		$('.std-content iframe').each(function(){
			var src = $(this).attr('src');
			var n = src.search("youtube");
			if(n > 0){
				$(this).addClass('iframe-youtube');
			}
		});
	});
</script>


    
<style></style></body></html>