<div
  id="carouselExampleCaptions"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators"></div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../../assets/cover_w1640_h700_banner-lap-keuangan.jpg"
        class="d-block w-100"
        alt="gambar"
      />
      <div class="carousel-caption d-none d-md-block">
        <div class="card text-white bg-info">
          <div class="card-body">
            <h5 class="card-title">Infografik</h5>
            <p class="card-text">Ragam informasi dan data BCA Syariah</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h1>Infografik</h1>
<div class="container px-6">
  <div class="row gx-5">
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="../../../assets/cover_w770_h480_tw794_th493_x11578_y10_infografis-donasi-terkait-covid_versi-hires-merah.jpg"
          class="card-img-top"
          alt="gambar"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="../../../assets/cover_w770_h480_tw794_th493_x11578_y10_infografis-donasi-terkait-covid_versi-hires-merah.jpg"
          class="card-img-top"
          alt="gambar"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="../../../assets/cover_w770_h480_tw794_th493_x11578_y10_infografis-donasi-terkait-covid_versi-hires-merah.jpg"
          class="card-img-top"
          alt="gambar"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
