<div
  class="container py-2 d-flex flex-wrap justify-content-center py-4 mb-4 border-bottom"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4"
      ><img src="../assets/img/logo-bcas.png" width="160" height="30"
    /></span>
  </a>
  <nav
    class="navbar navbar-expand-sm navbar-light"
    aria-label="Third navbar example"
  >
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarsExample03"
        aria-controls="navbarsExample03"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav mb-2 mb-sm-0 align-items-sm-end">
          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown01"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Produk dan Layanan</a
            >
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" routerLink="/home">Simpanan</a></li>
              <li>
                <a class="dropdown-item" routerLink="/home">Pembiayaan</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/home"
                  >Perbankan Elektronik</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/home">Jasa Perbankan</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/home">Biaya dan Limit</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown02"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Info BCA Syariah</a
            >
            <ul class="dropdown-menu" aria-labelledby="dropdown02">
              <li>
                <a class="dropdown-item" routerLink="/home"
                  >Berita BCA Syariah</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/home">Siaran Pers</a>
              </li>
              <li><a class="dropdown-item" routerLink="/home">Promo</a></li>
              <li><a class="dropdown-item" routerLink="/home">eBrochure</a></li>
              <li>
                <a class="dropdown-item" routerLink="/education">Edukasi</a>
              </li>
              <li><a class="dropdown-item" routerLink="/home">FAQ</a></li>
              <li>
                <a class="dropdown-item" routerLink="/home">Corporate Logo</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/home">Infografik</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Layanan Pengaduan Konsumen</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown03"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Tentang BCA Syariah</a
            >
            <ul class="dropdown-menu" aria-labelledby="dropdown03">
              <li>
                <a class="dropdown-item" routerLink="/home"
                  >Profil Perusahaan</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/home"
                  >Struktur Organisasi</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/home"
                  >Tanggung Jawab Sosial Perusahaan</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/home">Penghargaan</a>
              </li>
              <li><a class="dropdown-item" routerLink="/home">GCG</a></li>
              <li>
                <a class="dropdown-item" routerLink="/home"
                  >Laporan Perusahaan</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/education">Karir</a>
          </li>
        </ul>
        <img
          src="../assets/img/search.png"
          width="16"
          height="16"
          style="
            margin-top: 1px;
            margin-bottom: 1px;
            margin-right: 10px;
            margin-left: 5px;
          "
        />
        <img src="../assets/img/halo-bca.PNG" width="120" height="48" />
      </div>
    </div>
  </nav>
</div>

<!-- JavaScript Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
  crossorigin="anonymous"
></script>
<router-outlet></router-outlet>
